// ========================================
// BRIEF
// ========================================

.brief {
  min-height: 100vh;

  .wrapper {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;

    @include md-block() {
      padding-top: 50px;
    }
  }
}

.brief-slide {
  display: none;
}

.brief-slide__title {
  position: relative;
  max-width: 450px;
  margin-bottom: 60px;

  @include sm-block() {
    margin-bottom: 40px;
  }

  h2 {
    position: relative;
    padding: 16px 0;
    font-size: em(35);
    font-weight: 400;
    z-index: 5;

    @include sm-block() {
      font-size: em(30);
    }
  }
}

.brief-slide__subtitle {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.3;
}

.brief-slide__title-bkg {
  position: absolute;
  top: 0;
  right: 0;
  width: 9999px;
  height: 100%;
  background-color: $color-foreground;
  z-index: 1;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.form__items > .flex-container {
  position: relative;
  justify-content: space-between;
  margin-left: -20px;
  margin-right: -20px;

  @include sm-block(){
    margin-left: -15px;
    margin-right: -15px;
  }

  @media (max-width: 634px) {
    justify-content: center;
  }
}

.form__item {
  width: 42.3387%; /* from 1240px */
  min-width: 280px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 75px;

  display: flex;
  flex-direction: column;

  @include sm-block(){
    margin-left: 15px;
    margin-right: 15px;
  }

  @media (max-width: 634px) {
    width: 80%;
  }
}

.form__item--up {

  @media (min-width: 635px) {
    margin-top: -160px;
  }
}

.form__item--full {

  @media (min-width: 635px) {
    width: 100%;
  }
}

.form__item-title {
  position: relative;
  display: block;
  margin-bottom: 20px;
  font-size: em(25);

  @include md-block() {
    font-size: em(20);
    line-height: 1.3;
  }
}

.form__field-wrap {
  position: relative;
  width: 100%;
}

.form__field-wrap:not(:last-child) {
  margin-bottom: 20px;
}

.form__item-label {
  position: absolute;
  top: 35%;
  left: 20px;
  line-height: 1;
  transition: opacity 0.5s, translateX 0.5s;
  opacity: 1;
  z-index: 2;
}

.messangers {
  position: absolute;
  top: 50%;
  right: 0;
  height: 35px;
  transform: translateY(-50%);
  font-size: 0;
  z-index: 2;
}

.messangers-item {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 12px;
  border-radius: 50%;
}

.messangers-item input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.messangers-item label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  cursor: pointer;
}

.messangers-item svg {
  width: 35px;
  height: 35px;
  z-index: 2;
}

.viber-circle,
.whatsapp-circle,
.telegram-sircle {
  fill: #A0A0A0;
  transition: fill 0.3s;
}

#viber:checked ~ svg .viber-circle {
  fill: #7C519B;
}

#whatsapp:checked ~ svg .whatsapp-circle {
  fill: #57BB63;
}

#telegram:checked ~ svg .telegram-sircle {
  fill: #139BD0;
}

.form__field {
  min-height: 200px;
  width: 100%;
  padding: 7px 12px;
  font-size: em(20);
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: inherit;
  background-color: $color-bkg-light;
  border: 1px solid $color-bkg-light;
  outline: none;
  overflow: auto;

  &:focus {
    border: 1px solid $color-accent;
  }

  &--days {
    min-height: 34px;
    width: 95px;
    text-align: center;
    overflow: hidden;
    padding-right: 0;
  }

  &--input {
    min-height: 34px;
    z-index: 1;
  }
}

.form__field-wrap .form__field--input:focus ~ .form__item-label {
  opacity: 0;
  transform: translateX(40px);
}

textarea.form__field,
.input-items {
  margin-top: auto;
}

.input-items--horizontal {
  margin-top: 0;

  .input-item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 80px;
    }
  }
}

.functionality {

  @media (max-width: 634px) {
    justify-content: center;
  }
}

.functionality > .input-items {
  width: calc(90% - 16px);
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 20px;

  @media (min-width: 635px) {
    width: calc(50% - 16px);
  }

  @media (min-width: 1050px) {
    width: calc(33.33% - 16px);
  }
}

.functionality .form__item-title {
  font-size: 22px;
  margin-bottom: 25px;
}

.functionality .form__item-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 50px;
  height: 3px;
  background-color: $color-foreground;
}

.functionality label {
  font-size: 20px;
}

// .input-items--big-stack,
// textarea.form__field--small-mt {
//   margin-top: 20px;
// }

[name="info-blocks"] {
  min-height: 128px;
}

[name='competitors-link'] {
  margin-bottom: 10px;
}

.form__field[name='competitors'] {
  min-height: 120px;
}

.input-item {
  position: relative;
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 0;
  }

  // @include md-block() {
  //   margin-bottom: 30px;
  // }
}

.input-item__text {
  display: block;
  padding-left: 60px;
  font-size: 20px;
  // text-transform: uppercase;

  &--paragraph {
    text-transform: none;
  }
}

// .input-item__text.small-text {
//   font-size: 20px;
// }

.input-item__radio {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.input-item__indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 8px solid $color-bkg-light;
  background-color: $color-bkg-light;
  cursor: pointer;

  &--radio {
    border-radius: 50%;
  }
}

.input-item__radio:checked + .input-item__indicator {
  background-color: $color-foreground;
}

.input-item__field {
  position: relative;
  bottom: 5px;
  width: 74.4%;
  padding: 7px 12px;
  border: 0;
  border-bottom: 1px solid $color-foreground;
  font-family: inherit;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: inherit;
  background-color: transparent;
  outline: none;

  &:focus {
    background-color: $color-bkg-light;
  }

  @include sm-block() {
    position: static;
    bottom: 0;
    display: block;
    width: 100%;
    margin-top: 10px;
  }
}

.upload-container {
  position: relative;
  margin-top: 16px;
  width: 160px;
}

.upload-container > .input-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 40px;
  line-height: 1;
  opacity: 0;
  z-index: -1;
}

.input-file-trigger {
  display: block;
  width: 160px;
  height: 40px;
  padding-left: 64px;
  line-height: 40px;
  background-color: transparent;
  background-image: url("../images/icons/upload.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: contain;
  z-index: 1;
  cursor: pointer;
}

.file-return {
  margin-top: 16px;
  line-height: 1.2;
}

.sup {
  display: inline-block;
  margin-left: 16px;
  line-height: 1;
  font-size: em(17);
  vertical-align: top;
}

.range {
  position: relative;
  margin-top: 30px;
}

.rangeslider {
  background: $color-bkg-light;
}

.rangeslider--horizontal {
  height: 4px;
}

.rangeslider__fill {
  background: $color-foreground;
}

.rangeslider__handle {
  width: 20px;
  height: 20px;
  border: 0;
  background: $color-foreground;
  box-shadow: none;

  &::after {
    content: none;
  }
}

.rangeslider--horizontal .rangeslider__handle {
  top: -8px;
}

.title-min,
.title-max {
  position: absolute;
  top: 18px;
  font-size: 15px;
  line-height: 20px;
}

.title-max {
  right: 0;
  text-align: right;
}

.slider__controls-container {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  width: 43.75%; /* from 1200px */
  margin-left: auto;

  @include sm-block() {
    width: 80%;
    margin-right: auto;
  }
}

.slider-controls--prev,
.slider-controls--next {
  width: 48%;
  min-width: 48px;
}

.slider-controls--prev .btn,
.slider-controls--next .btn {
  width: 100%;
}

#slide-1 .slider-controls--prev,
.last-slide .slider-controls--next {
  cursor: not-allowed;
}

.slider-controls--prev .btn:disabled,
.slider-controls--next .btn:disabled {
  background-color: mix(#000, $color-bkg-light, 30%);
  color: #919191;

  &:hover,
  &:focus,
  &:active {
    border-color: mix(#000, $color-bkg-light, 30%);
    background-color: mix(#000, $color-bkg-light, 30%);
    color: #919191;
    cursor: not-allowed;
  }
}

.require::after {
  content: "*";
  font-size: inherit;
  color: $color-accent;
}

.btn-submit {
  display: block;
  width: 100%;
  margin-top: 16px;
  visibility: hidden;
  font-size: 25px;
  border-color: $color-foreground;
  background-color: $color-foreground;

  &:hover,
  &:active {
    background-color: mix(#000, $color-foreground, 10%);
    border-color: mix(#000, $color-foreground, 10%);
  }

  &:focus {
    outline: none;
    background-color: mix(#fff, $color-foreground, 10%);
  }
}

.active {
  display: block;
}

.last-slide.active + .slider__controls .btn-submit {
  visibility: visible;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 100%;
  padding: 30px;
  padding-top: 40px;
  border-radius: 0;
  text-align: center;
  background-color: #fff;
  z-index: 99999;

  @media (max-width: 420px) {
    width: 300px;
  }
}

.modal-content__title {
  font-size: 35px;
  line-height: 1.3;
  color: #7b133c;
}

.modal-content__text {
  font-size: 20px;
  line-height: 1.3;
  color: #7b133c;
}

.modal-content__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  z-index: 999999;
  cursor: pointer;
}

.modal-content__close::before,
.modal-content__close::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 0;
  width: 30px;
  height: 4px;
  background-color: #999;
  transform: rotate(45deg);
}

.modal-content__close::after {
  transform: rotate(-45deg);
}

.select {
  position: relative;
  width: 100%;
}

.select-title {
  position: relative;
  padding: 15px 12px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #999;
  background-color: #333;
  cursor: pointer;
  z-index: 2;
  user-select: none;
}

.select-title::after {
  content: "";
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 0  9px 12px;
  border-color: transparent transparent transparent #a6a6a6;
  transition: transform 0.2s, border-color 0.2s;
  z-index: 1;
  cursor: pointer;
}

.select-title.is-chosen::after {
  transform: rotate(90deg);
  transform-origin: 50% 0;
  border-left-color: $color-accent;
}
// .select-title:hover::after {
//   transform: rotate(90deg);
//   transform-origin: center;
//   transform-origin: 50% 0;
//   border-left-color: $color-accent;
// }




.select-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 3;
  opacity: 1;
}

.select-list.is-hidden {
  opacity: 0;
}

.select-option {
  padding: 12px 12px 12px 30px;
  font-size: 20px;
  line-height: 1.3;
  color: #333;
  cursor: pointer;
  transition: color 0.4s, background-color 0.4s;
  user-select: none;
}

.select-option:hover {
  color: #fff;;
  background-color: #a6a6a6;
}

/*EDITIONS*/
// #feedback-modal-box {
//   width: 400px;
//   max-width: 100%;
//   padding: 30px;
//   padding-top: 40px;
//   border-radius: 0;
//   text-align: center;

//   @media (max-width: 420px) {
//     width: 300px;
//   }
// }

// #feedback-modal-box #feedback-infolist li {
//   font-size: 20px;
//   line-height: 1.3;
//   color: #7b133c;
// }

// #feedback-modal-box #feedback-infolist li b {
//   font-size: 35px;
// }

// .modal-close {
//   font-weight: normal;
//   background-color: #7b133c;
// }

// .modal-close:hover {
//   background-color: #b41c59;
// }

body {
  overflow-y: auto !important;
  margin-right: auto !important;
}