// ========================================
// BRIEF
// ========================================

.brief {
  min-height: 100vh;

  .wrapper {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;

    @include md-block() {
      padding-top: 50px;
    }
  }
}

.brief-slide {
  display: none;
}

.brief-slide__title {
  position: relative;
  max-width: 450px;
  margin-bottom: 60px;

  @include sm-block() {
    margin-bottom: 40px;
  }

  h2 {
    position: relative;
    padding: 16px 0;
    font-size: em(35);
    font-weight: 400;
    z-index: 5;

    @include sm-block() {
      font-size: em(30);
    }
  }
}

.brief-slide__title-bkg {
  position: absolute;
  top: 0;
  right: 0;
  width: 9999px;
  height: 100%;
  background-color: $color-foreground;
  z-index: 1;
}

.form__items .flex-container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-left: -20px;
  margin-right: -20px;

  @include sm-block(){
    margin-left: -15px;
    margin-right: -15px;
  }

  @media (max-width: 634px) {
    justify-content: center;
  }
}

.form__item {
  width: 42.3387%; /* from 1240px */
  min-width: 280px;
  margin-left: 20px;
  margin-right: 20px;

  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  @include sm-block(){
    margin-left: 15px;
    margin-right: 15px;
  }

  @media (max-width: 634px) {
    width: 80%;
  }
}

.form__item-title {
  display: block;
  margin-bottom: 20px;
  font-size: em(25);

  @include md-block() {
    font-size: em(20);
    line-height: 1.3;
  }
}

.form__field {
  min-height: 200px;
  padding: 7px 12px;
  font-size: em(20);
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: inherit;
  background-color: $color-bkg-light;
  border: 1px solid $color-bkg-light;
  outline: none;
  overflow: auto;

  &:focus {
    border: 1px solid $color-accent;
  }

  &--days {
    min-height: 34px;
    width: 95px;
    text-align: center;
    overflow: hidden;
  }

  &--input {
    min-height: 34px;
  }
}

textarea.form__field,
.input-items {
  margin-top: auto;
}
/*
[placeholder] {
  &::-webkit-input-placeholder {
    color: white;
  }
  &::-moz-placeholder {
    color: white;
  }
  &:-ms-input-placeholder {
    color: white;
  }
  &:-moz-placeholder {
    color: white;
  }
}*/

.input-items--big-stack,
textarea.form__field--small-mt {
  margin-top: 20px;
}

.input-item {
  position: relative;
  margin-bottom: 55px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include md-block() {
    margin-bottom: 30px;
  }
}

.input-item__text {
  padding-left: 60px;
  font-size: em(25);
  text-transform: uppercase;

  @include md-block() {
    font-size: em(20);
  }

  &--paragraph {
    text-transform: none;
  }
}

.input-item__radio {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.input-item__indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 8px solid $color-bkg-light;
  background-color: $color-bkg-light;
  cursor: pointer;

  &--radio {
    border-radius: 50%;
  }
}

.input-item__radio:checked + .input-item__indicator {
  background-color: $color-foreground;
}

.input-item__field {
  position: relative;
  bottom: 5px;
  width: 74.4%;
  padding: 7px 12px;
  border: 0;
  border-bottom: 1px solid $color-foreground;
  font-family: inherit;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: inherit;
  background-color: transparent;
  outline: none;

  &:focus {
    background-color: $color-bkg-light;
  }

  @include sm-block() {
    position: static;
    bottom: 0;
    display: block;
    width: 100%;
    margin-top: 10px;
  }
}

.sup {
  display: inline-block;
  margin-left: 16px;
  line-height: 1;
  font-size: em(17);
  vertical-align: top;
}

.range {
  position: relative;
  margin-top: 30px;
}

.rangeslider {
  background: $color-bkg-light;
}

.rangeslider--horizontal {
  height: 4px;
}

.rangeslider__fill {
  background: $color-foreground;
}

.rangeslider__handle {
  width: 20px;
  height: 20px;
  border: 0;
  background: $color-foreground;
  box-shadow: none;

  &::after {
    content: none;
  }
}

.rangeslider--horizontal .rangeslider__handle {
  top: -8px;
}

.title-min,
.title-max {
  position: absolute;
  top: 18px;
  font-size: 15px;
  line-height: 20px;
}

.title-max {
  right: 0;
  text-align: right;
}

.slider__controls-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  width: 43.75%; /* from 1200px */
  margin-left: auto;

  @include sm-block() {
    width: 80%;
    margin-right: auto;
  }
}

.slider-controls--prev,
.slider-controls--next {
  width: 48%;
  min-width: 48px;
}

.slider-controls--prev .btn,
.slider-controls--next .btn {
  width: 100%;
}

#slide-1 .slider-controls--prev,
.last-slide .slider-controls--next {
  cursor: not-allowed;
}

.slider-controls--prev .btn:disabled,
.slider-controls--next .btn:disabled {
  background-color: mix(#000, $color-bkg-light, 30%);
  color: #919191;

  &:hover,
  &:focus,
  &:active {
    border-color: mix(#000, $color-bkg-light, 30%);
    background-color: mix(#000, $color-bkg-light, 30%);
    color: #919191;
    cursor: not-allowed;
  }
}

.require::after {
  content: "*";
  font-size: inherit;
  color: $color-accent;
}

.btn-submit {
  display: block;
  width: 100%;
  margin-top: 16px;
  visibility: hidden;
  font-size: 25px;
  border-color: $color-foreground;
  background-color: $color-foreground;

  &:hover,
  &:active {
    background-color: mix(#000, $color-foreground, 10%);
    border-color: mix(#000, $color-foreground, 10%);
  }

  &:focus {
    outline: none;
    background-color: mix(#fff, $color-foreground, 10%);
  }
}

.active {
  display: block;
}

.last-slide.active + .slider__controls .btn-submit {
  visibility: visible;
}

/*EDITIONS*/
#feedback-modal-box {
  width: 400px;
  max-width: 100%;
  padding: 30px;
  padding-top: 40px;
  border-radius: 0;

  @media (max-width: 420px) {
    width: 300px;
  }
}

#feedback-modal-box #feedback-infolist li {
  font-size: 20px;
  line-height: 1.3;
  color: #7b133c;
}

#feedback-modal-box #feedback-infolist li b {
  font-size: 35px;
}

.modal-close {
  font-weight: normal;
  background-color: #7b133c;
}

.modal-close:hover {
  background-color: #b41c59;
}

body {
  overflow-y: auto !important;
  margin-right: auto !important;
}