// ========================================
// VARIABLES
// ========================================

// colors

$color-accent: #991d4e;
$color-foreground: #7b133c;
$color-bkg-dark: #111;
$color-bkg-light: #333;
 
