// ========================================
// VARIABLES
// ========================================

// colors

$color-accent: #991d4e;
$color-foreground: #7b133c;
$color-base-background: #111;
$color-light-background: #333;
 
